.dart_tool/
.git/
.github/
.gitignore
.idea/
.vscode/
.packages
.flutter-plugins
.flutter-plugins-dependencies
android/
ios/
linux/
macos/
windows/
test/
build/*
!build/web/
.DS_Store
*.iml
*.log
*.apk
*.ipa
*.aab
